---
- name: Create Storj Stats Exporter Directories
  file:
    path: "{{ storj_stats_path }}/{{ item }}"
    state: directory
  loop:
    - json_exporter

- name: Copy JSON Exporter Config
  template:
    src: "{{ storj_stats_exporter_config_template_path }}/config_{{ item }}.yml.j2"
    dest: "{{ storj_stats_path }}/json_exporter/config_{{ item }}.yml"
  loop: "{{ storj_stats_exporter_json_sources }}"

- name: Setup JSON-Exporters
  docker_container:
    container_default_behavior: compatibility
    networks_cli_compatible: no
    restart_policy: always
    name: "storj-stats-exporter-{{ item }}"
    image: quay.io/prometheuscommunity/json-exporter
    memory: 50M
    command:
      - '--config.file=/config.yml'
    volumes:
      - "{{ storj_stats_path }}/json_exporter/config_{{ item }}.yml:/config.yml"
    networks:
      - name: "{{ storj_stats_network_name }}"
  loop: "{{ storj_stats_exporter_json_sources }}"
  loop_control:
    index_var: item_index
