{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": 6,
  "iteration": 1678801878733,
  "links": [],
  "panels": [
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 8,
      "panels": [],
      "repeat": "satellite",
      "title": "$satellite details",
      "type": "row"
    },
    {
      "datasource": "VictoriaMetrics",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "max": 80,
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "orange",
                "value": 35
              },
              {
                "color": "light-green",
                "value": 45
              },
              {
                "color": "semi-dark-green",
                "value": 55
              },
              {
                "color": "dark-green",
                "value": 65
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 0,
        "y": 1
      },
      "id": 523,
      "options": {
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "8.0.2",
      "targets": [
        {
          "exemplar": true,
          "expr": "storj_stats_storage_median_healthy_pieces_count{satellite=~\"$satellite.*\"}",
          "interval": "",
          "legendFormat": "",
          "queryType": "randomWalk",
          "refId": "A"
        }
      ],
      "title": "Healthy Pieces $satellite (Median)",
      "type": "gauge"
    },
    {
      "datasource": "VictoriaMetrics",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "max": 80,
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "orange",
                "value": 35
              },
              {
                "color": "light-green",
                "value": 45
              },
              {
                "color": "semi-dark-green",
                "value": 55
              },
              {
                "color": "dark-green",
                "value": 65
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 6,
        "y": 1
      },
      "id": 524,
      "options": {
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "8.0.2",
      "targets": [
        {
          "exemplar": true,
          "expr": "storj_stats_storage_min_healthy_pieces_count{satellite=~\"$satellite.*\"}",
          "interval": "",
          "legendFormat": "",
          "queryType": "randomWalk",
          "refId": "A"
        }
      ],
      "title": "Healthy Pieces $satellite (Min)",
      "type": "gauge"
    },
    {
      "datasource": "VictoriaMetrics",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 30,
            "gradientMode": "opacity",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": 3600000,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Disqualified nodes"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "red",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 12,
        "y": 1
      },
      "id": 35,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "exemplar": true,
          "expr": "storj_stats_total_nodes{satellite=~\"$satellite.*\"}",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "total nodes",
          "refId": "F"
        },
        {
          "exemplar": true,
          "expr": "storj_stats_disqualified_nodes{satellite=~\"$satellite.*\"}",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "Disqualified nodes",
          "refId": "B"
        },
        {
          "exemplar": true,
          "expr": "storj_stats_exited_nodes{satellite=~\"$satellite.*\"}",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "Exited nodes",
          "refId": "C"
        }
      ],
      "title": "Nodestats $satellite",
      "type": "timeseries"
    },
    {
      "aliasColors": {
        "offline nodes": "red",
        "suspended": "orange"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "VictoriaMetrics",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "unit": "short"
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 12,
        "y": 7
      },
      "hiddenSeries": false,
      "id": 19,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "8.0.2",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:438",
          "alias": "suspended",
          "yaxis": 2
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "exemplar": true,
          "expr": "storj_stats_active_nodes{satellite=~\"$satellite.*\"}",
          "interval": "",
          "legendFormat": "active nodes",
          "queryType": "randomWalk",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "storj_stats_offline_nodes{satellite=~\"$satellite.*\"}",
          "format": "time_series",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "offline nodes",
          "refId": "D"
        },
        {
          "exemplar": true,
          "expr": "storj_stats_suspended_nodes{satellite=~\"$satellite.*\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "suspended",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Livestatus nodes $satellite",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:445",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:446",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "VictoriaMetrics",
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 0,
        "y": 8
      },
      "hiddenSeries": false,
      "id": 122,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "8.0.2",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:179",
          "alias": "Minimum Healthy Pieces",
          "yaxis": 1
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "exemplar": true,
          "expr": "storj_stats_storage_median_healthy_pieces_count{satellite=~\"$satellite.*\"}",
          "interval": "",
          "legendFormat": "Median Healthy Pieces",
          "queryType": "randomWalk",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "storj_stats_storage_min_healthy_pieces_count{satellite=~\"$satellite.*\"}",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "Minimum Healthy Pieces",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Healthy Pieces $satellite",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:151",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:152",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "VictoriaMetrics",
      "fieldConfig": {
        "defaults": {
          "unit": "short"
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 3,
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 0,
        "y": 13
      },
      "hiddenSeries": false,
      "id": 163,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": false
      },
      "percentage": false,
      "pluginVersion": "8.0.2",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:336",
          "alias": "Lost Remote Segments",
          "yaxis": 2
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "exemplar": true,
          "expr": "storj_stats_storage_remote_segments{satellite=~\"$satellite.*\"}",
          "interval": "",
          "legendFormat": "Remote Segments",
          "queryType": "randomWalk",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "storj_stats_storage_remote_segments_lost{satellite=~\"$satellite.*\"}",
          "hide": false,
          "interval": "",
          "legendFormat": "Lost Remote Segments",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Remotsegments $satellite",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:247",
          "format": "short",
          "label": "",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:248",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": "0",
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {
        "unvetted nodes": "blue",
        "vetted nodes": "green"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "VictoriaMetrics",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "unit": "short"
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 6,
        "w": 12,
        "x": 12,
        "y": 13
      },
      "hiddenSeries": false,
      "id": 413,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "8.0.2",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "$$hashKey": "object:329",
          "alias": "unvetted nodes",
          "yaxis": 2
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "exemplar": true,
          "expr": "storj_stats_vetted_nodes{satellite=~\"$satellite.*\"}",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "vetted nodes",
          "refId": "F"
        },
        {
          "exemplar": true,
          "expr": "storj_stats_total_nodes{satellite=~\"$satellite.*\"}-\nstorj_stats_disqualified_nodes{satellite=~\"$satellite.*\"}-\nstorj_stats_exited_nodes{satellite=~\"$satellite.*\"}-\nstorj_stats_vetted_nodes{satellite=~\"$satellite.*\"}",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "unvetted nodes",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Vettingstatus $satellite",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:336",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:337",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 114
      },
      "id": 324,
      "panels": [],
      "type": "row"
    },
    {
      "datasource": null,
      "description": "",
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 0,
        "y": 115
      },
      "id": 317,
      "options": {
        "content": "---\n* Datasource: <a href=\"https://stats.storjshare.io/\" target=\"_blank\">stats.storjshare.io</a> (updated hourly, scraped all 15 mins)\n* Additional Stats: <a href=\"http://storjnet.info/\" target=\"_blank\">storjnet.info</a>\n* Featurerequests/Bugs: <a href=\"https://github.com/toconspiracy/storj-stats/issues\" target=\"_blank\">Github</a>\n* Donations: 0x899AD2F5cB94256FEAd50fe452EdA16B40F34E4B\n\n<div style=\"text-align: right\"><a href=\"https://github.com/toconspiracy/storj-stats/releases/tag/2.1.0\" target=\"_blank\">Version 2.1.0</a></div>\n",
        "mode": "markdown"
      },
      "pluginVersion": "8.0.2",
      "targets": [
        {
          "queryType": "randomWalk",
          "refId": "A"
        }
      ],
      "transparent": true,
      "type": "text"
    },
    {
      "datasource": null,
      "description": "",
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 12,
        "y": 115
      },
      "id": 320,
      "options": {
        "content": "---\n[<img src=\"https://assets-global.website-files.com/602eda09fc78afc76e9706b6/606dd3c96f177cf1635d2284_Storj%20Logo%20-%20White.svg\" alt=\"drawing\" height=\"100\"/>](https://www.storj.io/)",
        "mode": "markdown"
      },
      "pluginVersion": "8.0.2",
      "targets": [
        {
          "queryType": "randomWalk",
          "refId": "A"
        }
      ],
      "transparent": true,
      "type": "text"
    }
  ],
  "refresh": "",
  "schemaVersion": 30,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {
          "selected": true,
          "text": [
            "All"
          ],
          "value": [
            "$__all"
          ]
        },
        "datasource": "VictoriaMetrics",
        "definition": "label_values(satellite)",
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": true,
        "label": "Satellite",
        "multi": true,
        "name": "satellite",
        "options": [],
        "query": {
          "query": "label_values(satellite)",
          "refId": "StandardVariableQuery"
        },
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "type": "query"
      }
    ]
  },
  "time": {
    "from": "now-7d",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Storj Satellite Statistics [WIP]",
  "uid": "IonAV_Wnz",
  "version": 5
}